@font-face{
    font-family: "Code New Roman";
    src: url("../fonts/CodeNewRoman/CodeNewRomanNerdFontMono-Regular.eot");
    src: local("Fira Mono"),
         url("../fonts/CodeNewRoman/CodeNewRomanNerdFontMono-Regular.eot") format("embedded-opentype"),
         url("../fonts/CodeNewRoman/CodeNewRomanNerdFontMono-Regular.woff") format("woff"),
         url("../fonts/CodeNewRoman/CodeNewRomanNerdFontMono-Regular.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans/OpenSans-Regular.eot");
    src: url("../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"),
    url("../fonts/OpenSans/OpenSans-Regular.svg#OpenSansRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}